/**
* Author: Serzhan Nasredin (snxx)
* For license and copyright information please follow this like:
* https://github.com/snxx-lppxx/snxx-lppxx.github.io/blob/master/LICENSE
*/

@charset "utf-8";

@font-face {
  font-family: "Titillium Web";
  font-weight: bold;
  src: url("/assets/font/TitilliumWeb-Regular.ttf") format("ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background-color: #373f4e;
  color: #c9d1d9;
  font-family: "Titillium Web", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

figure img {
  border: 5px solid #000;
  width: 30em;
  height: 30em;
  border-radius: 50%;
  margin: 5em 0 auto;
}

figure figcaption {
  margin: 7px 0;
}

a:link, a:visited, a:active {
  color: #84a6d7;
  text-decoration: none;
}

a:hover {
  color: #84a6d7;
  text-decoration: underline;
}

button {
  background-color: transparent;
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  align-items: center;
}

footer button {
  margin: 0 5px;
}

#icon {
  width: 2em;
  height: 2em;
}
