/**
* Author: snxx
* For license and copyright information please follow this like:
* https://github.com/snxx-lppxx/snxx-lppxx.github.io/blob/master/LICENSE
*/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

html, body {
	background-color: #1e1d1d;
	color: #c9d1d9;
	font-family: sans-serif;
}

main {
	text-align: center;
}

p {
	margin: 10px;
}

.avatar {
	border-radius: 180px;
	margin: 30px;
}

a:link {
	text-decoration: none;
	color: #844;
	margin: 5px;
}

a:visited {
	color: #844;
}

a:hover {
	color: #844;
	text-decoration: underline;
}

a:active {
	color: #844;
}

.more > a {
	margin: 20px;
	text-decoration: none;
}
